{% extends 'base.html' %}
{% include 'header.html' %}



{% block body%}

<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
                    <script>
                        function fnExportToExcel(fileExtension,fileName){
                        var e1=document.getElementById("tblExport");
                        var wb = XLSX.utils.table_to_book(e1t, {sheet: "sheet1"});
                        return XLSX.writeFile(wb, fileName+"."+fileExtension || ('MySheetName.' + (fileExtension || 'xlsx')))
                        }
                    </script>

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron">
                <div class="well text-center">
              <h1 class="display-4">Manager request raised</h1>


            </div>
            </div>
</div>
            </div>
</div>
                <div class="table-responsive">
                    <p>

                    <a class="btn btn-warning btn-xs" id="btnExport" onclick="fnExportToExcel('xlsx', 'myfirstsheet')" >Export to excel</a>
                    </p>
                 <table id="tblExport" class="table table-bordered table-hover">

                    <tr>

                        <th>ID</th>
                        <th>requestor_cdsid</th>
                        <th>CDSID</th>
                        <th>ll6_cdsid</th>
                        <th>pm_request_time</th>
                        <th>request_type</th>
                        <th>new_location</th>
                        <th>new_assert_type</th>
                        <th>service_tag</th>
                        <th>sharing</th>
                        <th>unshare</th>
                        <th>It Request Number</th>
                        <th>bo_status</th>
                    </tr>

                     {% for rr in rtest %}

                    <tr>

                        <td>{{rr.id}}</td>
                        <td>{{rr.requestor_cdsid}}</td>
                        <td>{{rr.cdsid}}</td>
                        <td>{{rr.ll6_cdsid}}</td>
                        <td>{{rr.pm_request_time}}</td>
                        <td>{{rr.request_type}}</td>
                        <td>{{rr.new_location}}</td>
                        <td>{{rr.new_assert_type}}</td>
                        <td>{{rr.service_tag}}</td>
                        <td>{{rr.sharing}}</td>
                        <td>{{rr.unshare}}</td>
                        <td>{{rr.it_request_number}}</td>
                        <td>{{rr.bo_status}}</td>

                        <td>
<!--                            <a href="/update_bo/{{rr.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{rr.id}}">Edit</a>-->
<!--                            <a href="/delete_bo/{{rr.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>-->
                        </td>
                    </tr>

                    {%endfor%}
                                      </table>


                </div>
{% endblock %}



<!--<div id="modaledit{{rr.id}}" class="modal fade" role="dialog">-->
<!--   <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--         <div class="modal-header">-->

<!--            <h4 class="modal-title">Update </h4>-->
<!--         </div>-->
<!--         <div class="modal-body">-->

<!--            <form action="{{url_for('main.update_bo')}}" method="POST">-->


<!--               <div class="form-group">-->

<!--                  <label>it_request_number:</label>-->
<!--                  <input type="hidden" name="id" value="{{rr.id}}" >-->
<!--                  <input type="text" class="form-control" name="it_request_number" value="{{rr.it_request_number}}">-->

<!--               </div>-->
<!--               <div class="form-group">-->

<!--                  <label>unshare_it_req_number:</label>-->
<!--                  <input type="text" class="form-control" name="unshare_it_req_number" value="{{rr.unshare_it_req_number}}">-->

<!--               </div>-->

<!--                               <div class="form-group">-->

<!--                  <label>it_connect_stage:</label>-->
<!--                  <input type="text" class="form-control" name="it_connect_stage" value="{{rr.it_connect_stage}}">-->

<!--               </div>-->
<!--                                               <div class="form-group">-->

<!--                  <label>Bo_status:</label>-->
<!--                  <input type="text" class="form-control" name="bo_status" value="{{rr.bo_status}}">-->

<!--               </div>-->
<!--                          <div class="form-group">-->

<!--                  <label>remarks:</label>-->
<!--                  <input type="text" class="form-control" name="remarks" value="{{rr.remarks}}">-->

<!--               </div>-->

<!--                <div class="form-group">-->


<!--                  <button class="btn btn-primary" type="submit">update</button>-->


<!--               </div>-->


<!--            </form>-->


<!--                         <div class="modal-footer">-->


<!--            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->

<!--   </div>-->


<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--                </div>-->

<!--                <div class="form-group">-->


<!--                  <label>Cdsid:</label>-->
<!--                  <input type="cdsid" class="form-control" name="cdsid" required="1">-->


<!--               </div>-->


<!--                <div class="form-group">-->


<!--                  <label>Name:</label>-->
<!--                  <input type="name" class="form-control" name="name" required="1">-->


<!--               </div>-->

<!--               <div class="form-group">-->


<!--                  <label>Company:</label>-->
<!--                  <input type="company" class="form-control" name="company" required="1">-->


<!--               </div>-->

<!--                               <div class="form-group">-->


<!--                  <label>gender:</label>-->
<!--                  <input type="gender" class="form-control" name="gender" required="1">-->


<!--               </div>-->

<!--                               <div class="form-group">-->


<!--                  <label>billing_status:</label>-->
<!--                  <input type="billing_status" class="form-control" name="billing_status" required="1">-->


<!--               </div>-->

<!--                               <div class="form-group">-->


<!--                  <label>project:</label>-->
<!--                  <input type="project" class="form-control" name="project" required="1">-->


<!--               </div>-->

<!--                               <div class="form-group">-->


<!--                  <label>project_name:</label>-->
<!--                  <input type="project_name" class="form-control" name="project_name" required="1">-->


<!--               </div>-->

<!--               <div class="form-group">-->


<!--                  <label>seating_location:</label>-->
<!--                  <input type="seating_location" class="form-control" name="seating_location" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>pm_cdsid:</label>-->
<!--                  <input type="pm_cdsid" class="form-control" name="pm_cdsid" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>lm_cdsid:</label>-->
<!--                  <input type="lm_cdsid" class="form-control" name="lm_cdsid" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>job_family:</label>-->
<!--                  <input type="job_family" class="form-control" name="job_family" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>month_of_joining_ges:</label>-->
<!--                  <input type="month_of_joining_ges" class="form-control" name="month_of_joining_ges" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>year_of_joining_ges:</label>-->
<!--                  <input type="year_of_joining_ges" class="form-control" name="year_of_joining_ges" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>previous_experience:</label>-->
<!--                  <input type="previous_experience" class="form-control" name="previous_experience" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>modified:</label>-->
<!--                  <input type="modified" class="form-control" name="modified" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>modified_by:</label>-->
<!--                  <input type="modified_by" class="form-control" name="modified_by" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>project_ll5_cdsid:</label>-->
<!--                  <input type="project_ll5_cdsid" class="form-control" name="project_ll5_cdsid" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>grade:</label>-->
<!--                  <input type="grade" class="form-control" name="grade" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>workstation_number:</label>-->
<!--                  <input type="workstation_number" class="form-control" name="workstation_number" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>education:</label>-->
<!--                  <input type="education" class="form-control" name="education" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>education_details:</label>-->
<!--                  <input type="education_details" class="form-control" name="education_details" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>item_type:</label>-->
<!--                  <input type="item_type" class="form-control" name="item_type" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>path:</label>-->
<!--                  <input type="path" class="form-control" name="path" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>funding_organisation:</label>-->
<!--                  <input type="funding_organisation" class="form-control" name="funding_organisation" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>funding_function:</label>-->
<!--                  <input type="funding_function" class="form-control" name="funding_function" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>funding_region:</label>-->
<!--                  <input type="funding_region" class="form-control" name="funding_region" required="1">-->


<!--               </div>-->

<!--               <div class="form-group">-->


<!--                  <label>phase:</label>-->
<!--                  <input type="phase" class="form-control" name="phase" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>attribute:</label>-->
<!--                  <input type="attribute" class="form-control" name="attribute" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>product:</label>-->
<!--                  <input type="product" class="form-control" name="product" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>process:</label>-->
<!--                  <input type="process" class="form-control" name="process" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>method_domain:</label>-->
<!--                  <input type="method_domain" class="form-control" name="method_domain" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>tmm:</label>-->
<!--                  <input type="tmm" class="form-control" name="tmm" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>primary_tool:</label>-->
<!--                  <input type="primary_tool" class="form-control" name="primary_tool" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>level:</label>-->
<!--                  <input type="level" class="form-control" name="level" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>remarks:</label>-->
<!--                  <input type="remarks" class="form-control" name="remarks" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>wb:</label>-->
<!--                  <input type="wb" class="form-control" name="wb" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>aaa:</label>-->
<!--                  <input type="aaa" class="form-control" name="aaa" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>project2:</label>-->
<!--                  <input type="project2" class="form-control" name="project2" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>cbg:</label>-->
<!--                  <input type="cbg" class="form-control" name="cbg" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>discipline:</label>-->
<!--                  <input type="discipline" class="form-control" name="discipline" required="1">-->


<!--               </div>-->
<!--               <div class="form-group">-->


<!--                  <label>column1:</label>-->
<!--                  <input type="column1" class="form-control" name="column1" required="1">-->


<!--               </div>-->

<!--                               <div class="form-group">-->


<!--                  <label>month_year_joining:</label>-->
<!--                  <input type="month_year_joining" class="form-control" name="month_year_joining" required="1">-->


<!--               </div>-->
<!--                               <div class="form-group">-->


<!--                  <label>ges_experience:</label>-->
<!--                  <input type="ges_experience" class="form-control" name="ges_experience" required="1">-->


<!--               </div>-->
<!--                               <div class="form-group">-->


<!--                  <label>total_experience:</label>-->
<!--                  <input type="total_experience" class="form-control" name="total_experience" required="1">-->


<!--               </div>-->
<!--                               <div class="form-group">-->


<!--                  <label>column2:</label>-->
<!--                  <input type="column2" class="form-control" name="column2" required="1">-->


<!--               </div>-->



<!--               <div class="form-group">-->


<!--                  <button class="btn btn-primary" type="submit">Add Employee</button>-->


<!--               </div>-->


<!--            </form>-->


<!--         </div>-->


<!--         <div class="modal-footer">-->


<!--            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->


<!--         </div>-->


<!--      </div>-->


<!--   </div>-->


<!--</div>-->

<!--    {% for rm in rmtest %}-->
<!--        <h4>id: {{rm.id}}</h4>-->
<!--        <h4>cdsid: {{rm.cdsid}}</h4>-->
<!--        <p>Name: {{rm.name}}</p>-->
<!--    {% endfor %}-->
